<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('default.home') }}">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('default.home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">All Comics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Random</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>

            <form class="d-flex me-0 me-lg-4 mb-2 mb-lg-0" role="search" method="POST" action="{# url_for('search') #}">
                {# search_form.hidden_tag() #}
                <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>

            <div class="navbar-nav d-flex">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">{{ current_user.name }}</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('default.profile') }}">Profile</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        {% if current_user.is_admin or user_permissions.can_access_dashboard %}
                        <li><a class="dropdown-item" href="{{ url_for('dashboard.home') }}">Dashboard</a></li>

                        {% if current_user.is_admin or user_permissions.can_access_users %}
                        <li><a class="dropdown-item" href="{{ url_for('dashboard.users') }}">Users</a></li>
                        {% endif %}

                        {% if current_user.is_admin or user_permissions.can_access_dashboard %}
                        <li><a class="dropdown-item" href="{{ url_for('dashboard.comics') }}">Comics</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% endif %}

                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </ul>


                </li>
                {% else %}
                <div class="row px-3">
                    <a class="btn col btn-outline-light me-2" href="{{ url_for('auth.login') }}">Login</a>
                    <a class="btn col btn-light" href="{{ url_for('auth.register') }}">Register</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>